.data-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-del {
    position: absolute;
    top: 12px;
    left: 0px;
    cursor: pointer;

    opacity: .3;

}

.data-del:hover {
    opacity: 1;
}

.data-code-del {
    position: absolute;
    top: 24px;
    left: -24px;
    cursor: pointer;

    opacity: .3;

}

.data-code-del:hover {
    opacity: 1;
}